.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    color: #aaa;
    margin-bottom: 2em;
}

.about a {
    display: block;
    margin-top: 15px;
    padding: 5px 5px;
}

@media only screen and (max-width: 800px) {
    .about {
        max-width: 80%;
        margin-left: 40px;
        margin-top: 2em;
    }

    .about h1 {
        font-size: 1.5em;
    }
}
