.login {
    text-align: center;
}

.login p {
    color: #aaa;
}

@media (max-width: 767px) {
    .login {
        margin-top: 3em;
    }
    .login h1 {
        margin-left: 1em;
        font-size: 1.5em;
    }
}
